@import "tailwindcss";

@theme inline {
  --font-display: var(--font-gloock);
  --font-body: var(--font-geist);
  --color-background: oklch(14.479% 0.00002 271.152);
  --color-surface: oklch(20.463% 0.00002 271.152);
  --color-foreground: oklch(98.511% 0.00011 271.152);
  --color-muted: oklch(71.182% 0.01302 285.981);
  --color-primary: oklch(76.652% 0.13861 91.065);
  --color-primary-hover: oklch(68.625% 0.12409 89.982);
}

@layer base {
  body {
    @apply bg-background text-foreground font-body overflow-x-hidden;
  }
}
