@import "tailwindcss";

@theme inline {
  --font-display: var(--font-gloock);
  --font-body: var(--font-geist);
  --color-brand: oklch(56% 0.11706 60.387);
  --color-brand-hover: oklch(53.71% 0.10424 58.458);
  --color-bg: oklch(97.08% 0.00847 84.494);
  --color-surface: oklch(100% 0.00011 271.152);
  --color-text: oklch(22.645% 0.00003 271.152);
  --color-muted: oklch(52.78% 0.00006 271.152);
}

@layer base {
  body {
    @apply bg-bg text-text font-body overflow-x-hidden;
  }
}
